;
; Agent pool configuration
;

[general]
; The general section of this config is not currently used, but reserved
; for future use.

;[agent-id]
;
; Define maxlogintries to allow the agent to try max logins before failed.
; Default is 3
;maxlogintries=5
;
; Define autologoff times if appropriate.  This is how long a call for
; the agent has to wait for the agent to acknowledge the call before the
; agent is automatically logged off (in seconds)
;autologoff=15
;
;BUGBUG the following is going away: autologoffunavail
; Define autologoffunavail to have agents automatically logged
; out when the extension that they are at returns a CHANUNAVAIL
; status when a call is attempted to be sent there.
; Default is "no".
;autologoffunavail=yes
;
; Define ackcall to require the agent to give a DTMF acknowledgement
; when the agent receives a call.
; Default is "no".
;ackcall=no
;
; Set what DTMF key sequence the agent should use to acknowledge a call.
; Default is '#'.
;acceptdtmf=#
;
; Define endcall to allow the agent to hangup a call with a DTMF key
; sequence.
; Default is "yes".
;endcall=yes
;
; Set what DTMF key sequence the agent should use to end a call.
; Default is '*'.
;enddtmf=*
;
; Set the minimum amount of time after disconnecting a call before
; the agent can receive a new call in milliseconds.
; Default is 0.
;wrapuptime=5000
;
; Set the musiconhold class for the agent.
; Default is default.
;musiconhold=default
;
;BUGBUG the following is going away: goodbye
; Define the default good bye sound file for agents
; default to vm-goodbye
;goodbye => goodbye_file
;
;BUGBUG the following is going away: updatecdr
; Define updatecdr. This is whether or not to change the source
; channel in the CDR record for this call to agent/agent_id so
; that we know which agent generates the call
;updatecdr=no
;
; Set the agent groups this agent belongs to.
; Default is none.
;group=3
;group=1,2
;group=
;
; Enable recording calls the agent takes.
; Default is no.
;recordagentcalls=yes
;
; The format used to record the calls: wav, gsm, wav49.
; Default is "wav".
;recordformat=gsm
;
;BUGBUG the following is going away: urlprefix
; The text to be added to the name of the recording. Allows forming a url link.
;urlprefix=http://localhost/calls/
;
; Set the directory to save the agent's conversations in.
; Default is /var/spool/asterisk/monitor
;savecallsin=/var/calls
;
; A custom beep sound file to play to the agent.
;custom_beep=beep
;
; Set the password the agent uses to login.
;secret=1234
;
; Set the agent name used in logging messages.
;fullname=Mark Spencer
;
; --------------------------------------------------
;
; This section contains example agent definitions:
;
; Define a template called my-agents:
;[my-agents](!)
;maxlogintries=5
;autologoff=15
;ackcall=yes
;acceptdtmf=##
;endcall=yes
;enddtmf=**
;
; Define agent 1001 using the my-agents template:
;[1001](my-agents)
;secret=1234
;fullname=Mark Spencer
;
; Define agent 1002 using the my-agents template:
;[1002](my-agents)
;secret=4321
;fullname=Will Meadows
