; MINI-VOICEMAIL dialplan example 
; ---------------------------------------------------------------------------------------
; ASTERISK_FILE_VERSION(__FILE__, "$Revision$")
;
;
; This is an example on how to use the Mini-Voicemail system to build
; voicemail systems.
;
; Content:
;   - 1. Simple record and forward to e-mail system
;   - 2. A bit more complicated record and forward to e-mail and pager system (multi-language)
;   - 3. (futureware: A voicemail system with a menu to access voicemail :-) )
;
; 
;.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
; A macro to test the MINIVMACCOUNT dialplan function
;      Currently, accountcode and pincode is not used in the application
;      They where added to be used in dialplan scripting
;
[macro-minivmfunctest]
exten => s,1,set(account=${ARGV1})
exten => minivm,n,verbose(1,-------------------- Minivm Function test - Accoutn ${account}  -------------)
exten => s,n,verbose(1,---- Has account:       ${MINIVMACCOUNT(${account}:hasaccount)})
exten => s,n,verbose(1,---- Fullname:          ${MINIVMACCOUNT(${account}:fullname)})
exten => s,n,verbose(1,---- Email:             ${MINIVMACCOUNT(${account}:email)})
exten => s,n,verbose(1,---- Pager:             ${MINIVMACCOUNT(${account}:pager)})
exten => s,n,verbose(1,---- E-mail template:   ${MINIVMACCOUNT(${account}:etemplate)})
exten => s,n,verbose(1,---- Pager template:    ${MINIVMACCOUNT(${account}:ptemplate)})
exten => s,n,verbose(1,---- Account code:      ${MINIVMACCOUNT(${account}:accountcode)})
exten => s,n,verbose(1,---- Path:              ${MINIVMACCOUNT(${account}:path)})
exten => s,n,verbose(1,---- Pincode:           ${MINIVMACCOUNT(${account}:pincode)})
exten => s,n,verbose(1,---- Time zone:         ${MINIVMACCOUNT(${account}:timezone)})
exten => s,n,verbose(1,---- Language:          ${MINIVMACCOUNT(${account}:language)})
; This requires setvar=customerclass=gold in the account configuration
exten => s,n,verbose(1,---- Var:customerclass: ${MINIVMACCOUNT(${account}:customerclass)})

[minivm-scenario1]
; minivmtest tests the dialplan function MINIVMACCOUNT
; Check the output in the console with verbose set
exten => minivmtest,1,answer
exten => minivmtest,n,wait(0.5)
exten => minivmtest,n,set(ACCOUNT=do-not-spam-me@edvina.net)
exten => minivmtest,n,macro(minivmfunctest, ${ACCOUNT})
exten => minivmtest,n,playback(beep)
exten => minivmtest,n,hangup

; "minivm" tests a full scenario
; Remember that users may hangup
exten => minivm,1,answer
exten => minivm,n,set(account=oej@edvina.net)
exten => minivm,n,noop(------------------------------------------- Minivm Greet   -------------)
exten => minivm,n,minivmgreet(${account})
exten => minivm,n,verbose(1,-- MINIVM_GREET_STATUS = ${MINIVM_GREET_STATUS} )
exten => minivm,n,noop(------------------------------------------- Minivm Record  -------------)
exten => minivm,n,minivmRecord(${account})
exten => minivm,n,noop(------------------------------------------- Minivm Notify  -------------)
; Check MINIVMRECORDSTATUS here
exten => minivm,n,verbose(1,-- MINIVM_RECORD_STATUS = ${MINIVM_RECORD_STATUS} )
; Add check if there's a duration set. If MVM_DURATION is not set, there's no recording
; 
exten => minivm,n,minivmNotify(${account})
exten => minivm,n,verbose(1,-- MINIVM_NOTIFY_STATUS = ${MINIVM_NOTIFY_STATUS} )
; Now, clean up after sending voicemail
exten => minivm,n,noop(------------------------------------------- Minivm Delete  -------------)
exten => minivm,n,minivmdelete()
exten => minivm,n,verbose(1,-- MINIVM_DELETE_STATUS = ${MINIVM_DELETE_STATUS} )
exten => minivm,n,hangup

exten => minivmcleanup,1,minivmNotify(${account})
exten => minivmcleanup,n,verbose(1,-- MINIVM_NOTIFY_STATUS = ${MINIVM_NOTIFY_STATUS} )
; Now, clean up after sending voicemail
exten => minivmcleanup,n,noop(------------------------------------------- Minivm Delete  -------------)
exten => minivmcleanup,n,minivmdelete()
exten => minivmcleanup,n,verbose(1,-- MINIVM_DELETE_STATUS = ${MINIVM_DELETE_STATUS} )

; If the user hangs up during the recording, we need to clean up
; And send notifications
exten => h,1,noop(------------------------------- HANGUP during voicemail recording   -------------)
exten => h,n,goto(minivmcleanup,1)

